<strong> Olá, {{ meetOwner }} </strong>
<p> Um usuario acaba de se inscrever no seu evento, confira para mais detalhes: </p>
<p>
  <strong>Usuario: </strong> {{ user }} <br />
  <strong>Evento: </strong> {{ meetupTitle }} <br /><br />
  <small>Que tenham um excelente evento!!</small>

</p>
